<?xml version="1.0"?>
<launch>
    <node name="task_planner_ros_interface" pkg="task_planner_ros_wrapper" type="task_planner_ros_interface.py" output="screen">
        <rosparam command="load" file="$(find task_planner_ros_wrapper)/ros/config/config.yaml" />
        <param name="plan_file_path" value="$(find task_planner_ros_wrapper)/tmp" />
    </node>
</launch>
